/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


:root{
	--primary-text-color:#183b56;
	--secondary-text-color:#577592;
	--accent-color:#2294ed;
	--accent-color-dark:#1d69a3;
	--padding-inline-section:20px;
}

body{

	font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


/*
	font-family: "Poppins", sans-serif;
  	font-weight: 600;
  	font-style: normal;*/


  	color: var(--primary-text-color);
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1.5rem;
}
p{
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 1rem;
	
	color: var(--secondary-text-color);
	line-height: 1.8rem;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	list-style: none;
}

/*utility class*/

.small-bold-text{
	font-size: 1rem;
	font-weight: 400;
}
.container{
	max-width: 1180px;
	margin-inline: auto; /*margin-inline for left and right side*/
	padding-inline: var(--padding-inline-section);
	overflow: hidden;
}
.flex{
	display: flex;
	align-items: center;
}

.hover-links-items{
	color: var(--primary-text-color);
	transition: 0.2s ease;
}
.hover-links-items:hover{
	color: var(--accent-color);
}
.primary-btn{
	background-color: var(--accent-color);
	border-radius: 6px;
	font-weight: 700px;
	color: white !important; /*important bcz i already used color in my anchor tags so..*/
	padding: 12px 20px;
	box-shadow: 0 0 2px var(--secondary-text-color);
	transition: 0.2s ease-out;
	text-align: center;
}
.primary-btn:hover{
	background-color: var(--accent-color-dark);
}
.secondary-btn{
	border: 0.5px solid var(--secondary-text-color);
	border-radius: 6px;
	font-weight: 700px;
	color: var(--primary-text-color);
	padding: 12px 20px;
	transition: 0.2s ease-out;
}
.secondary-btn:hover{
	border-color: var(--accent-color);
	color: var(--accent-color);
}
/*top banner*/

.top-banner{
	
	background-color: burlywood;
}
.banner-text{
	color: white;
	padding: 10px 30px;
	text-align: center;
}

/*navbar*/
.main-nav{
	justify-content: space-between;
	margin-top: 20px;
	/*position: relative;*/
}
.navbar-logo img{
	width: 150px;
}
.navbar-items{
	flex-basis: 730px; /*used for width*/
}
.navbar-items ul{
	justify-content: end;
	gap: 30px;
}

.navbar-toggle{
	display: none;
}

/*contant start*/
/*header hero section*/
header{
	padding: 50px var(--padding-inline-section) 50px;
}
.header-section{
	justify-content: center;
	gap: 50px;
}

.header-left{
	max-width: 40vw;
}
.header-left h1{
	margin-top: 20px;
}
.get-started-btn{
	margin-top: 20px;
}

.header-right img{
	/*border: 1px solid red;*/
	width: 100%;
}

/*comapnie logo section*/
.companies-header{
	text-align: center;
	margin-block: 30px;
	color: var(--primary-text-color);
}
.logo-companies{
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap:20px;
}
.logo-companies-img{
	width: 130px;
	height: 50px;
}

/*features section*/
.features-section{
	padding: 80px var(--padding-inline-section) 0;
}
.features-header{
	text-align: center;
	margin-bottom: 40px;
}
.features-header h2{
	margin-top: 20px;
}
/*feature cards*/
.features-area{
	flex-wrap: wrap;
	margin-top: 30px;
	justify-content: space-between;
	gap: 20px;
}
.features-card{
	flex-direction: column;
	gap: 10px;
	max-width: 30%;
	text-align: center;
}
.features-card img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/*big features section*/
.big-feature-section{
	padding: 40px var(--padding-inline-section) 0;
}
.bigfeature-container{
	gap: 30px;
}

#bigfeature-case2{
	flex-direction: row-reverse;
	
}

.bigfeature-img img{
	width: 100%;
}
.bigfeature-des{
	flex-direction: column;
	align-items: flex-start;
}


/*example section*/
.examples-section{
	margin-top: 80px;
}
.example-header{
	flex-direction: column;
	gap: 20px;
}
.examples-card{
	width: 23%;
	position: relative;
	min-height: 300px;
	background-color: black;

	background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('images/45.jpg');
	background-size: cover;

	transition: 0.2s ease;
	

}
.examples-card:hover{
	box-shadow: 0px 0px 10px #888;
}
.examples-card:nth-child(2){
	background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('images/46.jpg');
	background-size: cover;
}
.examples-card:nth-child(3){
	background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('images/45.jpg');
	background-size: cover;
}
.examples-card:nth-child(4){
	background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('images/46.jpg');
	background-size: cover;
}

.card-text{
	
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	color: white;
}
.example-area{
	justify-content: space-between;
	margin-top: 20px;

	flex-wrap: wrap;
}

/*cta section*/

.cta-section-container{
	flex-direction: column;
	gap: 10px;
	color: white;
}
.cta-section-container p{
	color: white;
}
.cta-section{
	margin-top: 30px;
	background-color: #183b54;
	padding: 100px var(--padding-inline-section) 80px;
}

/*footer*/

footer{
	padding: 80px;
	background-color: #ebf2fa;
}
.link-column{
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}
.footer-container{
	align-items: flex-start;
	justify-content: space-between;
}
.company-logo img{
	width: 120px;
	height: auto;
}

/*sub footer*/

.sub-footer{
	background-color: #b9cde4;
	padding:var(--padding-inline-section);
}

.subfooter-container{
	justify-content:center;
	gap: 30px;
	flex-wrap: wrap;
}